fastapi
uvicorn
casparser[pdf]
python-multipart
httpx
numpy
pandas
scipy
hmmlearn>=0.3.0
scikit-learn
yfinance
confluent-kafka
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-zipkin
